%footer
  %p
    a #{link_to '#B4mad.Net', 'http://b4mad.net/'} production.

:javascript
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.haste-gut-gemacht.de"]);
  _paq.push(["setDomains", ["*.haste-gut-gemacht.de","*.haste-gut-gemacht.herokuapp.com"]]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://b4mad-service.net/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "6"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
%noscript
  %p
    %img(src="http://b4mad-service.net/piwik/piwik.php?idsite=6&amp;rec=1" style="border:0" alt="")